body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    max-width: 600px ;
    margin: auto;
}

h1 {
    color: chartreuse;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

ul {
    list-style-type: none;
}

li { 
    background-color: cyan;
    padding: 10px;
    margin-bottom: 12px;
    border: 16px;
    border-radius:8px ;
    border-color: darkorange;
    border-width: 8px;
    border-style: dotted;
}

a {
    color: deeppink;
    text-decoration: none;
}